build --action_env=PONY_GENERIC_MODEL_PATH=$PONY_GENERIC_MODEL_PATH
build --action_env=PONY_GENERIC_VAE_MODEL_PATH=$PONY_GENERIC_VAE_MODEL_PATH

build --action_env=FLUX_GENERIC_MODEL_PATH=$FLUX_GENERIC_MODEL_PATH

build --action_env=FLUX_SCHNELL_MODEL_PATH=$FLUX_SCHNELL_MODEL_PATH

build --action_env=SDXL_UPSCALE_TILE_CONTROLNET_MODEL_PATH=$SDXL_UPSCALE_TILE_CONTROLNET_MODEL_PATH
build --action_env=SDXL_UPSCALE_SCHEDULER_MODEL_PATH=$SDXL_UPSCALE_SCHEDULER_MODEL_PATH
build --action_env=SDXL_UPSCALE_VAE_MODEL_PATH=$SDXL_UPSCALE_VAE_MODEL_PATH
build --action_env=SDXL_UPSCALE_MODEL_PATH=$SDXL_UPSCALE_MODEL_PATH

build --action_env=HUGGINGFACE_API_TOKEN=$HUGGINGFACE_API_TOKEN

build --action_env=S3_ENDPOINT_URL=$S3_ENDPOINT_URL
build --action_env=S3_BUCKET_NAME=$S3_BUCKET_NAME
build --action_env=S3_REGION_NAME=$S3_REGION_NAME
build --action_env=S3_ACCESS_KEY=$S3_ACCESS_KEY
build --action_env=S3_SECRET_KEY=$S3_SECRET_KEY